<%- include("header") %> 
<div class="box" id="heading">
        <h1> <%= listTitle %></h1>
    </div>

    <div class="box">  

       <% newListItems.forEach((task) => { %>
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= task._id %>" onchange="this.form.submit()">
               <p><%= task.name %></p> 
            </div>
        </form>
            <% }) %> 

            <form class="item" action="/" method="POST">
                <input type="text" name="newItem" placeholder="Task" autocomplete="off" required >
                <button type="submit" name="list" value= <%= listTitle %>>+</button>
            </form> 
    </div>
    
<%- include("footer") %> 